aiohttp
async-timeout
attrs
beautifulsoup4
bs4
certifi
chardet
decorator
idna
idna-ssl
ipython
ipython-genutils
jedi
multidict
parso
pexpect
pickleshare
prompt-toolkit
ptyprocess
Pygments
PyYAML
requests
simplegeneric
six
telepot
traitlets
urllib3
wcwidth
yarl
